body {
  font-family:  Bangla MN;
  font-size: 15px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  align-items: center;
  margin-top: 30px;

}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  align-items: center;
  margin-top: 30px;

}

#name {
  font-size: 30px;
  margin:20px 20px 0px 20px;
}

#logo {
  margin-top: 30px;
  text-align: center;
}

#objective {
  margin: 20px 0px 0 0;
  text-align: center;
}

#menu {
  margin-top: 30px;
  font-weight: bold;
  color:black;
}

#active {
  color:#fcd200;
}

#tags {
  font-weight: bold;
  font-size:20px;
  margin-top: 50px;
}

#flora_photo {
  margin-top: 50px;
}

#flora{
  margin-top:70px;
  font-size: 30px;
  font-family: Futura;
  font-weight: bold;
  color: #dbdbdb;
}

#proj-img {
  margin-top: 50px;
}

#projDescription {
  text-align: left;
  margin-top: 50px;
  line-height: 25px;
}

#bold-text{
  font-weight: bold;
  color: #0084ff;
}

#contact {
  margin-top:50px;
  text-align: center;
  letter-spacing: 30px;
}

#foot {
  margin-top: 30px;
  font-size: 10px;
}
